<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rocksuny.dao.ISysuserDao" >
  <resultMap id="BaseResultMap" type="com.rocksuny.model.Sysuser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="desctxt" property="desctxt" jdbcType="VARCHAR" />
    <result column="isedit" property="isedit" jdbcType="INTEGER" />
    <result column="department_id" property="departmentId" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="NameMap" type="com.rocksuny.model.Sysuser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, username, account, password, user_type, desctxt, isedit, department_id, email, phone, 
    status, last_login_ip, last_login_time, update_time, create_time,createUser
  </sql>
  
  <!-- 根据部门id删除 -->
  <delete id="deleteByDeptId" parameterType="java.lang.Integer">
  	delete from sysuser where department_id = #{id,jdbcType=INTEGER}
  </delete>
  
  <!-- 根据部门id字符串批量删除 -->
  <delete id="deleteBatchByDeptId" parameterType="string">
	delete from sysuser where department_id in (${ids})
  </delete>
  
  <!-- 根据用户id删除 -->
  <delete id="delete" parameterType="java.lang.Integer">
  	delete from sysuser where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <!-- 批量删除 -->
  <delete id="deleteBatch" parameterType="string">
	delete from sysuser where id in (${ids})
  </delete>
  
  <!-- 根据id查找 -->
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  		select * from sysuser where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 保存用户 -->
  <insert id="save" parameterType="com.rocksuny.model.Sysuser" useGeneratedKeys="true" keyProperty="id">
    insert into sysuser (username, account,password, user_type, desctxt,isedit, department_id, email,phone, status,
    last_login_ip,last_login_time, update_time, create_time,create_user)
    values (#{username,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR}, #{userType,jdbcType=INTEGER}, #{desctxt,jdbcType=VARCHAR},
      #{isedit,jdbcType=INTEGER}, #{departmentId,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{lastLoginIp,jdbcType=VARCHAR},
      #{lastLoginTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP},#{createUser,jdbcType=INTEGER}
      )
  </insert>
  
  <!-- 查询所有用户 -->
  <select id="getList" resultMap="NameMap"  >
    select id,username
    from sysuser
  </select>
  
  <!-- 分页查询条目总数 -->
  <select id="count" resultType="int" parameterType="Map">
		select count(*)
		from sysuser
		<where>
			<if test="null != username">
				and username like '%${username}%'
			</if>
			<if test="null != account " >
				and account = '${account}'
		    </if>
	        <if test="null != userType" >
	        	and user_type = #{userType,jdbcType=INTEGER}
	        </if>
	        <if test="null != deptId" >
	        	and department_id = #{deptId,jdbcType=INTEGER}
	        </if>
	 </where>
  </select>
  
  <!-- 分页查询当前页数据 -->
  <select id="find" parameterType="Map" resultMap="BaseResultMap">
		select * from sysuser
		<where>
			<if test="null != username">
				and username like '%${username}%'
			</if>
			<if test="null != account " >
				and account = '${account}'
		    </if>
	        <if test="null != userType" >
	        	and user_type = #{userType,jdbcType=INTEGER}
	        </if>
	        <if test="null != deptId" >
	        	and department_id = #{deptId,jdbcType=INTEGER}
	        </if>
	 	</where>
    	<if test="null != start">
    		limit ${start},${count}
    	</if>
		<if test="null != orderSql">
   			order by #{orderSql}
   		</if>
   </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sysuser
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sysuser
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rocksuny.model.Sysuser" >
    insert into sysuser (id, username, account, 
      password, user_type, desctxt, 
      isedit, department_id, email, 
      phone, status, last_login_ip, 
      last_login_time, update_time, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{userType,jdbcType=INTEGER}, #{desctxt,jdbcType=VARCHAR}, 
      #{isedit,jdbcType=INTEGER}, #{departmentId,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{lastLoginIp,jdbcType=VARCHAR}, 
      #{lastLoginTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE}, #{createTime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rocksuny.model.Sysuser" >
    insert into sysuser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="desctxt != null" >
        desctxt,
      </if>
      <if test="isedit != null" >
        isedit,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="lastLoginIp != null" >
        last_login_ip,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="desctxt != null" >
        #{desctxt,jdbcType=VARCHAR},
      </if>
      <if test="isedit != null" >
        #{isedit,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="lastLoginIp != null" >
        #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rocksuny.model.Sysuser" >
    update sysuser
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="desctxt != null" >
        desctxt = #{desctxt,jdbcType=VARCHAR},
      </if>
      <if test="isedit != null" >
        isedit = #{isedit,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null" >
        department_id = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="lastLoginIp != null" >
        last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rocksuny.model.Sysuser" >
    update sysuser
    set username = #{username,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      desctxt = #{desctxt,jdbcType=VARCHAR},
      isedit = #{isedit,jdbcType=INTEGER},
      department_id = #{departmentId,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE},
      create_time = #{createTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>